body {
  min-height: 100vh;
  max-width: 80%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**********Header************/

#header-span {
  color: white;
  border: solid yellow;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #948265;
  padding: 0px 5px;
  font-size: 60px;
}

header {
  background-color: #27AE60;
  display: fixed;
  padding: 5px 10px;
  font-size: 30px;
}

/*Links*/

#link-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(100, 47, 14);
  padding: 10px;
  width: 97%;
  margin: auto;
}

.link-button {
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.link-button:hover {
  color: skyblue;
}

/*End of Links*/

/*************End of Header**************/

/*************Homepage***************/

#homepage {
  text-align: center;
}

.quote-container {
  text-align: center;
  margin: 100px auto;
  border: solid;
  background-color: beige;
}

#p-title {
  font-size: 20px;
}

.list-fun-facts {
  list-style-type: none;
}

/************End of Homepage************/

/********Plant Page********/

.new-plant-link {
  margin-bottom: 30px;
  text-align: center;
}

#add-plant-button {
  font-size: large;
  margin-top: 30px;
}

.plant-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*Plant Card*/

.plant-card {
  margin-bottom: 50px;
  border: solid green;
  padding: 5px 10px;
  text-align: center;
  width: 400px;
}

.plant-delete {
  display: flex;
}

.plant-img {
  width: 200px;
  height: 200px;
}

.plant-list {
  list-style-type: none;
}

/*End of Plant Card*/

/*Plant Form*/

#new-plant-container {
  margin-bottom: 30px;
}

#new-plant-title {
  text-align: center;
  margin: auto;
}

#new-plant-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
  margin: auto;
}

#submit-plant-button {
  width: 100px;
  text-align: center;
  margin: auto;
}

/*End of Plant Form*/


/***********End of Plant Page**************/

/*************Comments Page******************/

#new-comment-container {
  border: solid 2px;
  padding-bottom: 10px;
  background-color: skyblue;
}

#new-comment-title {
  margin: auto;
  text-align: center;
}

#new-comment-form {
  margin: auto;
  text-align: center;
}

#comment-input {
  width: 55%;
  margin: auto;
  overflow: hidden;
}

#comment-title {
  background-color: yellowgreen;
}

#comment-container li {
  list-style-type: none;
  margin: 10px 0;
}

/*Comments*/

.comment {
  border-bottom: solid 1px;
  margin: auto;
}

.delete-comment {
  display: flex;
  justify-content: right;
  margin-bottom: 5px;
}

/*End of Comments*/

/**********End of Comments Page************/
