body {
  min-height: 100vh;
  max-width: 80%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header-span {
  color: white;
  border: solid yellow;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #948265;
  padding: 0px 5px;
  font-size: 60px;
}

header {
  background-color: #27AE60;
  display: fixed;
  padding: 5px 10px;
  font-size: 30px;
}

#link-container {
  display: flex;
  justify-content: center;
}

#p-title {
  font-size: 20px;
}

.plant-img {
  width: 200px;
  height: 200px;
}

.plant-list {
  list-style-type: none;
}

.plant-card {
  margin-bottom: 50px;
  border: solid green;
  padding: 5px 10px;
  text-align: center;
  width: 400px;
}

.plant-card:hover {
  background-color: green;
}

.plant-card:active {
  background-color: greenyellow;
}

.plant-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}